
.hts-messages {
    position: relative;
    padding: 20px 25px;
    margin: 18px 0 26px;
    font-size: 90%;
    border-radius: 5px; 
    &.hts-messages--alert {
        background-color: #fff7de;
        border-left: 1px solid #6a6641;
        border-radius: 0px 4px 4px 0px;
        color: #38351f !important;
        word-break: break-word;
        p{
            margin:10px 0 !important;
            color: #38351f !important;
            word-break: break-word;
        }
        a{
            word-break: break-word;
        }
        p:empty{
            display: none;
        }
        ul{
            margin-top:10px;
            margin-bottom:0px !important;
            li{
                color: #38351f !important;
                word-break: break-word;
            }
        }
        &.hts-messages--withicon {
            padding-left: 50px;
            .hts-messages__title{
                position:relative;
                &:before{
                    content:'';
                    position:absolute;
                    top: 6px;
                    left: -21px;
                    width: 19px;
                    display: inline-block;
                    height: 19px;
                    background-image: url("../images/exclamation-circle.svg");
                    background-size: cover;
                }
            }
        }
        .hts-messages__title {
            color: #38351f !important;
        }
    }
    &.hts-messages--success {
        background-color: #f0fdf0;
        border-left: 1px solid #9ed166;
        border-radius: 0px 4px 4px 0px;
        color: #3c5421 !important;
        word-break: break-word;
        p{
            margin:10px 0 !important;
            color: #3c5421 !important;
            word-break: break-word;
        }
        a{
            word-break: break-word;
        }
        p:empty{
            display: none;
        }
        ul{
            margin-top:10px;
            margin-bottom:0px !important;
            li{
                color: #3c5421 !important;
                word-break: break-word;
            }
        }
        &.hts-messages--withicon {
            padding-left: 50px;
            .hts-messages__title{
                position:relative;
                &:before{
                    content:'';
                    position:absolute;
                    top: 6px;
                    left: -21px;
                    width: 19px;
                    display: inline-block;
                    height: 19px;
                    background-image: url("../images/check-circle.svg");
                    background-size: cover;
                }
            }
        }
        .hts-messages__title {
            color: #3c5421 !important;
        }
    }
    &.hts-messages--danger {
        background-color: #ffe7e5;
        border-left: 1px solid #e05d4d;
        border-radius: 0px 4px 4px 0px;
        color: #792e2e !important;
        word-break: break-word;
        p{
            margin:10px 0 !important;
            color: #792e2e !important;
            word-break: break-word;
        }
        a{
            word-break: break-word;
        }
        p:empty{
            display: none;
        }
        ul{
            margin-top:10px;
            margin-bottom:0px !important;
            li{
                color: #792e2e !important;
                word-break: break-word;
            }
        }
        &.hts-messages--withicon {
            padding-left: 50px;
            .hts-messages__title{
                position:relative;
                &:before{
                    content:'';
                    position:absolute;
                    top: 8px;
                    left: -21px;
                    width: 16px;
                    display: inline-block;
                    height: 16px;
                    background-image: url("../images/exclamation-triangle.svg");
                    background-size: cover;
                }
            }
        }
        .hts-messages__title {
            color: #792e2e !important;
        }
    }
    &.hts-messages--info {
        background-color: #e9f6ff;
        border-left: 1px solid #3ea9f5;
        border-radius: 0px 4px 4px 0px;
        color: #044067 !important; 
        word-break: break-word;
        p{
            margin:10px 0 !important;
            color: #044067 !important;
            word-break: break-word; 
        }
        a{
            word-break: break-word;
        }
        p:empty{
            display: none;
        }
        ul{
            margin-top:10px;
            margin-bottom:0px !important;
            li{
                color: #044067 !important; 
                word-break: break-word;
            }
        }
        &.hts-messages--withicon {
            padding-left: 50px;
            .hts-messages__title{
                position:relative;
                &:before{
                    content:'';
                    position:absolute;
                    top: 6px;
                    left: -21px;
                    width: 19px;
                    display: inline-block;
                    height: 19px;
                    background-image: url("../images/info-circle.svg");
                    background-size: cover;
                }
            }
        }
        .hts-messages__title {
            color: #044067 !important; 
        }
    }
}

.hts-messages.hts-messages--withtitle p:first-of-type {
  margin-top: 10px; 
}
.hts-messages .hts-messages__title {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 0; 
}
.hts-messages p {
  margin: 0 0 15px; 
}
.hts-messages p:last-child {
    margin-bottom: 0;
}
  
.hts-toggle {
    position: relative;
    margin-top:20px;
    margin-bottom: 28px; 
    &.hts-toggle--active {
        .hts-toggle__content {
            max-height: 9999px;
            opacity: 1;
        }
        .hts-toggle__title{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .hts-toggle__title {
        background-color: #f7f7f7;
        padding: 18px 15px 18px 15px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        font-family: 'Muli', sans-serif;
        color: #0349d1;
        position: relative;
        border-radius: 4px; 
        &:before {
            content: '\e90a';
            position: absolute;
            top: 20px;
            right: 15px;
            font-size: 12px;
            color: #0349d1;
            font-family: 'icomoon';
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all .15s linear;
            -moz-transition: all .15s linear;
            -ms-transition: all .15s linear;
            -o-transition: all .15s linear;
            transition: all .15s linear;
        }
        &:hover {
            cursor: pointer; 
        }
    }
    .hts-toggle__content {
        border: 1px solid rgba(213,212,212,0.46);
        border-top: 0;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-transition:all 0.2s linear;
        -moz-transition:all 0.2s linear;
        -ms-transition:all 0.2s linear;
        transition:all 0.2s linear;
        .hts-toggle__contentwrap {
            padding: 20px;
            p:last-child {
                margin-bottom: 0; 
            }
        }
    }
}

.hts-accordion {
    position: relative;
    margin-bottom: 38px; 
    .hts-accordion__title {
        padding: 15px 45px 15px 15px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Muli', sans-serif;;
        line-height: 1.7;
        color:#0349d1;
        position: relative; 
        -webkit-transition: all .15s linear;
        -moz-transition: all .15s linear;
        -ms-transition: all .15s linear;
        -o-transition: all .15s linear;
        transition: all .15s linear;
        &:after{
            content: '\e90a';
            position: absolute;
            top: 20px;
            right: 15px;
            font-size: 12px;
            color: #323648;
            font-family: 'icomoon';
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-transition: all .15s linear;
            -moz-transition: all .15s linear;
            -ms-transition: all .15s linear;
            -o-transition: all .15s linear;
            transition: all .15s linear;
        }
        &.hts-accordion__section--active{
            color:#0349d1;
            &:after{
                color:#0349d1;
                -webkit-transform: rotate(270deg);
                -moz-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                -o-transform: rotate(270deg);
                transform: rotate(270deg);
            }
        }
        &:hover {
            cursor: pointer; 
        }
    }
    .hts-accordion__section {
        border-bottom: 1px solid rgba(213,212,212,0.46);
        &:nth-of-type(1) .hts-accordion__content{
            display: block ;
        }
    }
    .hts-accordion__content {
        font-size: 18px;
        font-weight: 400;
        padding: 10px 20px 20px 15px;
        display:none;
        .hts-accordion__contentwrap {
            font-size: 18px;
            color: #323648;
            line-height: 1.8;
            padding: 2px 20px;
            border-left: 2px solid rgba(213,212,212,0.46);
            p:last-child {
                margin-bottom: 0; 
            }
         }
    }
}

.hts-tabs {
    position: relative;
    margin-bottom: 28px; 
}
.hts-tabs .hts-tabs__nav {
    list-style: none;
    padding: 0;
    margin:0 0 -1px;
    display:flex;
    border-bottom: 1px solid rgba(213,212,212,0.46);
}
.hts-tabs .hts-tabs__nav .hts-tabs__tab {
    float: left;
    font-size: 18px;
    color: #323648;
    line-height: 1;
    padding: 14px 15px;
    margin: 0 3px;
    position: relative;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.hts-tabs .hts-tabs__nav .hts-tabs__tab:after{
    content:'';
    position: absolute;
    bottom:-1px;
    left:0px;
    background-color: #0349d1;
    height:2px;
    width:0%;
}
.hts-tabs .hts-tabs__nav .hts-tabs__tab.hts-tabs__tab--active:after{
    width:100%;
}
.hts-tabs .hts-tabs__nav .hts-tabs__tab:hover {
    cursor: pointer; 
    color:#5F6368;
}
.hts-tabs .hts-tabs__nav .hts-tabs__tab.hts-tabs__tab--active {
    color:#0349d1;
}
.hts-tabs .hts-tabs__nav .hts-tabs__tab:last-child {
    border-right: 0; 
}
.hts-tabs .hts-tabs__nav .hts-tabs__tab:first-child{
    margin-left:0px;
}
.hts-tabs .hts-tabs__content {
    clear: both;
    display:none;
    overflow: hidden;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.hts-tabs .hts-tabs__content.hts-tabs__content--active {
    display: block;
}
.hts-tabs .hts-tabs__content .hts-tabs__contentwrap {
    padding: 25px 0px 0px;
}
.hts-tabs .hts-tabs__content .hts-tabs__contentwrap p:last-child {
    margin-bottom: 0; 
}
.hts-tabs .hts-tabs__content .hts-tabs__contentwrap p:empty{
    display: none;
}
.hts-tabs .hts-tabs__content .hts-tabs__contentwrap ul{
    margin:0px 0px 0px;
}

.ht-shortcodes-button{
    padding: 6px 18px;
    min-width: 120px;
    display: table;
    text-align: center;
    font-size: 17px;
    border-radius: 4px;
    margin-bottom: 28px;
    text-decoration: none !important;
    background-color: transparent !important;
    border-bottom:0px !important;
    border:1px solid #0449D1 !important;
    color: #0449D1 !important;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    &:hover{
        color:#FFFFFF !important;
        background-color: #0449D1 !important;
    }
}