.head-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.top-head {
    display: flex;
    justify-content: center;
}

.category-head {
    width: 50%;
}

.list-group-root {
    padding: 0;
    overflow-y: scroll;
    height: 250px;
}

.list-group-root .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border 0.2s ease-in-out;
}

.thumb-img {
    width: 100%;
}

.list-group.list-group-root>.list-group>.list-group-item {
    padding-left: 30px;
}

.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #9FA8B1;
    background: #fafafa;
    border: none;
    padding: 10px;
    border-radius: none;
    border-bottom: 1.5px solid #D9DFE5;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 1.5px dashed #D9DFE5;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #fafafa;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #9FA8B1;
}

.drag-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

.drag-text h3 {
    font-family: "Gotham Book";
    font-size: 22px;
    color: #9FA8B1;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    /* padding: 10px; */
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}

.file-upload span {
    color: #949494;
    font-family: "Gotham Book";
    font-size: 13px;
    margin-top: 5px;
    display: flex;
}

.imageupload {
    /*Also */
    /* This is copied from https://github.com/blueimp/jQuery-File-Upload/blob/master/css/jquery.fileupload.css */
}

.imageupload .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.imageupload .btn-success {
    border: 1px solid #c5dbec;
    background: #d0e5f5;
    font-weight: bold;
    color: #2e6e9e;
}

.imageupload .fileinput-button {
    position: relative;
    overflow: hidden;
}

.imageupload .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.imageupload .thumb {
    height: 80px;
    width: 100px;
    border: 1px solid #000;
}

.imageupload ul.thumb-Images li {
    width: 120px;
    float: left;
    display: inline-block;
    vertical-align: top;
    height: 120px;
}

.imageupload .img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
}

.imageupload .img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #d0e5f5;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bolder;
    cursor: pointer;
    opacity: 0.5;
    font-size: 23px;
    line-height: 10px;
    border-radius: 50%;
}

.imageupload .img-wrap:hover .close {
    opacity: 1;
    background-color: #ff0000;
}

.imageupload .FileNameCaptionStyle {
    font-size: 12px;
}

.order-field {
    text-align: center;
    font-weight: bold;
}

.customer-name {
    font-weight: bold;
}

.myinvoice {
    height: 100vh;
}

.thank-info {
    text-align: center;
    padding-top: 200px;
}