$white_color:#FFFFFF;
$body_color: #202124;
$font_family:'PT Sans', sans-serif;
$theme_color: #0449D1;
$theme_hover: #0A54E4;
$link_color: #0449D1;
$link_hover: #1C65F6;
$bg_color_w_b:$body_color;
$text_w_b: #E3E3E3;
$second_w_b: #5F6368; 
$btn_bg_color: $white_color;
$btn_txt_color:$theme_color;