$white_color:#FFFFFF;
$body_color: $white_color;
$font_family:'Muli', sans-serif;
$font_manrope: 'manrope';
$font_roboto: 'Roboto', sans-serif;
$font_family_secondary: 'PT Serif', serif;
$theme_color: #0449D1;
$theme_hover: #0A54E4;
$link_color: #0449D1;
$link_hover: #1C65F6;
$bg_color_w_b:$body_color;
$text_w_b: #191919;
$second_w_b:#EFEFEF;
$btn_bg_color: $theme_color;
$btn_txt_color:$white_color;
$text_grey: #556575;
$title_grey:#2f3f50;
$post_link: #0349d1;
$post_txt_color: #353f75;
$light_grey_bg:#f3f3f3;
$link_grey: #5F6368;

.icon-close:before {
    content: "\e906";
  }